Talentscan Ambitiebar (3).json
{
  "name": "Talentscan Ambitiebar",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ambitiebar",
        "options": {}
      },
      "id": "e7310890-6199-4dee-987c-cc0172f167b8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        1296,
        704
      ],
      "webhookId": "5688747b-b833-4bca-a73b-88f24e43c297"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "score",
              "value": "={{Object.values($json.body.answers).reduce((acc, curr) => acc + curr.points, 0)}}"
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "={{$json.body.userDetails.name}}"
            },
            {
              "name": "company",
              "value": "={{$json.body.userDetails.company}}"
            },
            {
              "name": "email",
              "value": "={{$json.body.userDetails.email}}"
            },
            {
              "name": "shareUrl",
              "value": "={{$json.body.shareUrl}}"
            }
          ]
        },
        "options": {}
      },
      "id": "0d32ff9e-29bd-4576-8cf2-3e27c61ae657",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1520,
        704
      ]
    },
    {
      "parameters": {
        "resource": "person",
        "name": "={{ $json.name }}",
        "additionalFields": {
          "customProperties": {
            "property": [
              {
                "name": "e2f3dfeb9af85d6293c73d1db6ec4b49f31d7ef3",
                "value": "={{ $json.shareUrl }}"
              }
            ]
          },
          "email": [
            "={{ $json.email }}"
          ],
          "phone": [
            "={{ $('Webhook').item.json.body.userDetails.phone }}"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1744,
        704
      ],
      "id": "f0aa5aa3-1340-4a3f-be61-1b29ed7fc9e5",
      "name": "Create a person",
      "credentials": {
        "pipedriveApi": {
          "id": "aIx8Ns0WDz7e6AT3",
          "name": "Ambitiebar"
        }
      }
    },
    {
      "parameters": {
        "resource": "lead",
        "title": "=Loontransparantie: {{ $json.name }}",
        "associateWith": "person",
        "person_id": "={{ $json.id }}",
        "additionalFields": {
          "label_ids": [
            "52419380-07f4-11f1-bc6f-ad611214a851"
          ]
        }
      },
      "type": "n8n-nodes-base.pipedrive",
      "typeVersion": 1,
      "position": [
        1968,
        704
      ],
      "id": "c842e795-6e2f-4d97-831d-1240e25897e8",
      "name": "Create a lead",
      "credentials": {
        "pipedriveApi": {
          "id": "aIx8Ns0WDz7e6AT3",
          "name": "Ambitiebar"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "days"
      },
      "id": "cf207d72-c96b-4e0c-9c0e-6761754af4c3",
      "name": "Wait 2 Days1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2416,
        704
      ],
      "webhookId": "9b7c08e8-afde-4d8a-abe2-5a3be38dad30"
    },
    {
      "parameters": {
        "fromEmail": "lori@deambitiebar.nl",
        "toEmail": "={{ $('Prepare Data').item.json.email }}",
        "subject": "Je rapport is klaar 👋",
        "html": "=Hi {{ $('Prepare Data').item.json.name }},<br><br>Zo, je rapport staat klaar. Jouw score: {{ $('Prepare Data').item.json.score }}/100.<br><br><b><a href=\"{{ $('Prepare Data').item.json.shareUrl }}\">Bekijk hier je volledige rapportage</a></b><br><br>We zien een paar dingen terugkomen bij bedrijven die worstelen met het vinden van ervaren professionals. Vaak ligt de focus enorm op salaris, terwijl ervaren professionals daar eigenlijk al niet meer zo mee bezig zijn - zij kijken veel meer naar welke impact ze kunnen maken en hoe ze kunnen doorgroeien.<br><br>En dat doorgroeien dan… dat blijft vaak nog best vaag. Terwijl ze juist heel concreet willen weten: waar sta ik over 2 jaar? Wat ga ik leren? Welke verantwoordelijkheden krijg ik erbij?<br><br>Oh, en die lange wervingsprocessen… die kosten je echt kandidaten. De goede kandidaten zijn binnen 4 weken van de markt, dus als jij 6 weken nodig hebt om tot een gesprek te komen, ben je te laat.<br><br>In je rapport zie je wat er bij jullie speelt en wat je nu al kunt doen. Heb je er vragen over of wil je gewoon even sparren hoe je dit aanpakt? We denken graag met je mee!<br><br>Groetjes,<br>Lori & Demi<br>De Ambitie Bar",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2192,
        704
      ],
      "id": "ea58f18c-baf3-433f-9ed2-10b37747f2ef",
      "name": "Email Day ",
      "webhookId": "91383ccf-779e-4e0f-8611-cddd2eaea373",
      "credentials": {
        "smtp": {
          "id": "qB41C7FEczvPuRpg",
          "name": "lori@deambitiebar.nl"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "lori@deambitiebar.nl",
        "toEmail": "={{ $('Prepare Data').item.json.email }}",
        "subject": "Wat ervaren kandidaten écht zoeken (en het is niet salaris)",
        "html": "=Hi {{ $('Prepare Data').item.json.name }},<br><br>Een vraag: wat denk je dat de belangrijkste reden is waarom een medior of senior professional voor een nieuwe werkgever kiest?<br><br>We vroegen dit aan 300+ professionals. Hun antwoorden:<br><ul><li>Impact - \"Kan ik hier écht het verschil maken?\"</li><li>Autonomie - \"Mag ik zelf beslissingen nemen?\"</li><li>Leidinggevende - \"Kan ik van deze persoon leren?\"</li><li>Cultuur - \"Passen deze mensen bij mij?\"</li><li>Salaris - Pas op plek 5, maar moet wel marktconform zijn of een stap vooruit betekenen</li></ul><br>Herken je dit? De meeste vacatures focussen op punt 5, terwijl de eerste vier vaak de doorslag geven.<br><br>Mocht je het willen teruglezen, <a href=\"{{ $('Prepare Data').item.json.shareUrl }}\">hier vind je nogmaals je eigen analyse.</a><br><br>Groetjes,<br>Lori & Demi<br>De Ambitie Bar",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2640,
        704
      ],
      "id": "baf81fb8-0765-4263-aaf0-f59d716443d7",
      "name": "Email Day 6",
      "webhookId": "f095232b-8bb5-4610-abd4-02e2cc8a1e3b",
      "credentials": {
        "smtp": {
          "id": "qB41C7FEczvPuRpg",
          "name": "lori@deambitiebar.nl"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "days"
      },
      "id": "81b412df-2d39-415a-b766-b5aa4d018ddd",
      "name": "Wait 5 More Days1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3088,
        704
      ],
      "webhookId": "79af89c5-50b2-4821-b0b1-bf4dad2cc9f4"
    },
    {
      "parameters": {
        "fromEmail": "lori@deambitiebar.nl",
        "toEmail": "={{ $('Prepare Data').item.json.email }}",
        "subject": "Zullen we jullie vacature eens onder de loep nemen?",
        "html": "=Hi {{ $('Prepare Data').item.json.name }},<br><br>Een tijdje geleden vulde je onze scan in. Ik ben benieuwd: zijn jullie al verder gekomen met het aantrekken van medior/senior talent?<br><br>Als je wilt, nemen we jullie huidige vacature graag onder de loep. We analyseren dan:<br><ul><li>Hoe jullie vacature scoort t.o.v. de markt</li><li>Wat jullie doelgroep zoekt</li><li>Waar de quick wins zitten</li></ul><br>Vrijblijvend en kosteloos - gewoon even meedenken.<br><br>Interesse? <a href=\"https://deambitiebar.nl/contact/\">Plan hier je gratis marktscan in</a><br><br>Groet,<br>Lori & Demi<br>De Ambitie Bar",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3312,
        704
      ],
      "id": "2dba08ff-91d3-458d-aef0-933a0eec0214",
      "name": "Email Day 11",
      "webhookId": "99394ac4-16b6-4c2d-a0cb-f30ce4bad756",
      "credentials": {
        "smtp": {
          "id": "qB41C7FEczvPuRpg",
          "name": "lori@deambitiebar.nl"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "lori@deambitiebar.nl",
        "toEmail": "lori@deambitiebar.nl",
        "subject": "={{ $('Webhook').item.json.body.userDetails.name }} heeft flow doorlopen",
        "html": "={{ $('Webhook').item.json.body.userDetails.name }} heeft de flow doorlopen. Bel/mail deze persoon over 5 dagen. <br><br> Rapport link: {{ $('Prepare Data').item.json.shareUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2864,
        704
      ],
      "id": "7341b8e6-8260-4682-87a2-a14d74d24ef7",
      "name": "Send email",
      "webhookId": "352741ed-a280-458b-9827-e07cce17d3be",
      "credentials": {
        "smtp": {
          "id": "qB41C7FEczvPuRpg",
          "name": "lori@deambitiebar.nl"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Create a person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a person": {
      "main": [
        [
          {
            "node": "Create a lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a lead": {
      "main": [
        [
          {
            "node": "Email Day ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days1": {
      "main": [
        [
          {
            "node": "Email Day 6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Day ": {
      "main": [
        [
          {
            "node": "Wait 2 Days1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Day 6": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 More Days1": {
      "main": [
        [
          {
            "node": "Email Day 11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Day 11": {
      "main": [
        []
      ]
    },
    "Send email": {
      "main": [
        [
          {
            "node": "Wait 5 More Days1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3c31e295-bfef-4a8f-a546-8828bd7e3cca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8153022011ebb99e69152930a54f801e3f1b4c4c25549d95313da2e85a2a6dc"
  },
  "id": "3iD14sxVes48Uq32",
  "tags": []
}